Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

ci: update delete_old_packages.yml
  .github/workflows/delete_old_packages.yml
Due: prettier

ci: split up
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): Bump node to 26.2.0
  Dockerfile
Due: none

ci: Deploy latest image
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): Use non-scoped lefthook package
  package.json
  yarn.lock
Due: prettier

chore(deps): Bump @semantic-release/npm to 13.1.5
  yarn.lock
Due: none

chore(deps): Bump minimatch to 9.0.9
  yarn.lock
Due: none

chore(deps): Bump socks to 2.8.9
  yarn.lock
Due: none

ci: Add release workflow
  .github/workflows/build_test_publish.yml
  .github/workflows/delete_old_packages.yml
  .github/workflows/lint_test_publish.yml
  Dockerfile
Due: prettier

chore: Stop releasing on npm
  package.json
  yarn.lock
Due: prettier

chore: Add type-fest for package-json
  package.json
  yarn.lock
Due: prettier

chore: Enable tests on PRs
  .github/workflows/lint_test_publish.yml
Due: prettier

chore: Enable tests on PRs (#1844)
  .github/workflows/lint_test_publish.yml
Due: prettier

chore: Remove old startup script
  bin/pkgsource.sh
Due: none

chore: Delete old test configuration
  tsconfig.jasmine.json
Due: prettier

docs: Update status badge
  README.md
Due: prettier

test: Add tests
  .github/workflows/lint_test_publish.yml
  .gitignore
  package.json
  spec/RepositoryParser.test.ts
  test/RepositoryParser.test.ts
  test/Server.e2e.test.ts
  test/all-exceptions.filter.test.ts
  test/utils.test.ts
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

ignore vitest config when building
  tsconfig.json
Due: prettier

test: Add tests (#1845)
  .github/workflows/lint_test_publish.yml
  .gitignore
  package.json
  spec/RepositoryParser.test.ts
  test/RepositoryParser.test.ts
  test/Server.e2e.test.ts
  test/all-exceptions.filter.test.ts
  test/utils.test.ts
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat: Create multi-stage Docker build image
  Dockerfile
  package.json
Due: prettier

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  76f64bacfa331dfa2f59a6647a16992b93a06761
Due: none

fix: Copy needed files in multi-stage image
  Dockerfile
Due: none

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  05b23f9596380d0b2a9ae5e05f46a6ddf6e9f890
Due: none

docs: Refresh AGENTS.md to reflect current deployment and workflow model (#1846)
  AGENTS.md
Due: prettier

docs: Update AGENTS.md
  AGENTS.md
Due: prettier

ci: Update yarn-update workflow
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Group oxlint updates [ci skip]
  .github/dependabot.yml
Due: prettier

update workflow
  .github/workflows/yarn_update.yml
Due: prettier

chore: Delete .github/workflows/codeql.yml [ci skip]
  .github/workflows/codeql.yml
Due: prettier

ci: Update yarn_update workflow [ci skip]
  .github/workflows/yarn_update.yml
Due: prettier

ci: Deploy on release
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: Rename workflow [ci skip]
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: add Docker build test step after Dockerfile linting
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: run lint and build dockerfile jobs in parallel
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: add Docker build test step after Dockerfile linting (#1858)
  .github/workflows/lint_test_publish.yml
Due: prettier

chore: Copy single files with Docker
  .dockerignore
  Dockerfile
  package.json
  tsconfig.json
Due: prettier
