Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, oxlint_spec

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx oxlint --fix {staged_files} && git add {staged_files}

oxlint_spec:
  run: npx oxlint --config .eslintrc.spec.json --fix {staged_files} && git add {staged_files}

chore: Activate auto-merge for types
  .github/workflows/auto-merge.yml
Due: prettier

chore: Run dependabot monthly
  .github/dependabot.yml
Due: prettier

update yarn lockfile
  yarn.lock
Due: none

chore(deps): bump semver to 7.5.4
  yarn.lock
Due: none

chore(deps): update yarn lockfile
  yarn.lock
Due: none

chore: Use swc with ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Ignore @types/express > 4.x
  .github/dependabot.yml
Due: prettier

chore(deps): Update lefthook to 1.10.8
  package.json
  yarn.lock
Due: prettier

chore: Disable auto-merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Add Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore(deps): Update SvanBoxel/gitlab-mirror-and-ci-action
  .github/workflows/gitlab_mirror.yml
Due: prettier

new API
  .gitignore
  src/routes/error/errorRoutes.ts
  src/routes/healthCheckRoute.ts
  src/routes/infoRoute.ts
  src/routes/mainRoute.ts
  src/routes/packagesRoute.ts
  yarn.lock
Due: oxlint

fix API
  .github/dependabot.yml
  package.json
  src/RepositoryParser.ts
  src/routes/error/errorRoutes.ts
  src/routes/healthCheckRoute.ts
  src/routes/infoRoute.ts
  src/routes/swaggerRoute.ts
  yarn.lock
Due: prettier, oxlint

fix API
  src/RepositoryParser.ts
Due: none

fix API
  src/RepositoryParser.ts
  yarn.lock
Due: none

chore(deps): Update find-up and @types/node
  .github/dependabot.yml
  .gitignore
  package.json
  src/config.ts
  src/routes/infoRoute.ts
  src/routes/swaggerRoute.ts
  yarn.lock
Due: prettier, oxlint

refactor: Create ESM package
  README.md
  api/vercel.ts
  package.json
  src/RepositoryParser.ts
  src/Server.ts
  src/config.ts
  src/index.ts
  src/routes/error/errorRoutes.ts
  src/routes/index.ts
  src/routes/infoRoute.ts
  src/routes/mainRoute.ts
  src/routes/packagesRoute.ts
  src/routes/swaggerRoute.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier, oxlint

chore: Linting
  package.json
Due: prettier

chore: remove empty tests
  .eslintrc.spec.json
  .github/workflows/build_test_publish.yml
  package.json
  spec/index.test.ts
  spec/support/jasmine.json
  yarn.lock
Due: prettier

chore: Use new caching mechanism
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Use Node.js 24
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier

chore(deps): Add eslint
  package.json
  yarn.lock
Due: prettier

chore: Set yarn version to 4.9.2
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Fix yarn lock file
  yarn.lock
Due: none

chore: pin ESLint to 8.x
  .github/dependabot.yml
Due: prettier

chore: Downgrade Node.js to 22
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier

chore: New domain
  README.md
  package.json
Due: prettier

chore: Use immutable yarn in CI
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Format workflow
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use tsx instead of ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Update CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier

chore: Update CodeQL analysis workflow configuration (#1681)
  .github/workflows/codeql.yml
Due: prettier

chore(deps): Update yarn to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: Add npmPublishAccess and defaultSemverRangePrefix to yarn config
  .yarnrc.yml
Due: prettier

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

chore(deps): Use commit hashes in actions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use OIDC for publishing
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Use personal profile instead of ffflobot
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Remove npm token
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Rename GitLab mirror action
  .github/workflows/gitlab_mirror.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  oxlint: any of: src/**/*.ts
  oxlint_spec: any of: spec/**/*.ts
