Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): 1.14.4 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  e30971fdc6830d00947ac5fa2cf4ed8131673051
Due: none

chore: Add .claude to gitignore
  .gitignore
Due: none

chore: Update dependabot config [ci skip]
  .github/dependabot.yml
Due: prettier

ci: Rename main workflow
  .github/workflows/main.yml
Due: prettier

chore(release): 1.14.5 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  f292eef557a82e619888e2d38816a5510a229881
Due: none

chore(release): 1.14.6 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d1eac6fc28b22eef399192c36f9eaeaf27958ea5
Due: none

fix(deps): Bump nestjs to 11.1.27 [ci skip]
  package.json
  yarn.lock
Due: prettier

fix(deps): block only next major in Dependabot ignore rules
  .github/dependabot.yml
Due: prettier

fix(deps): block only next major in Dependabot ignore rules (#1889)
  .github/dependabot.yml
Due: prettier

chore(release): 1.14.7 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  bbf7b0b46c91733ee86d1a4d1a5ae97bff512299
Due: none

chore(release): 1.14.8 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d6b15ef21412c0842646212006c78d3cf16e7501
Due: none

ci: Group ffflorian/actions updates [ci skip]
  .github/dependabot.yml
Due: prettier

ci: Group vitest updates [ci skip]
  .github/dependabot.yml
Due: prettier

chore(release): 1.14.9 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  497e9dee85e8dfd2e81943c3bcebb907b056fefb
Due: none

chore(deps-dev): Bump @types/node to ~26 [ci skip]
  package.json
  yarn.lock
Due: prettier

chore(deps): bump yarn to version 4.17.0
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

fix(deps): Update dependencies
  package.json
  yarn.lock
Due: prettier

chore(release): 1.14.10 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  7e79f0ec1add1cab4b4d0cd683dc7afbe7c0d251
Due: none

chore(release): 1.14.11 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d3aa454bcb36a16754f68ec103a181fc7c9c436f
Due: none

style: apply yarn fix formatting
  src/controllers/packages.controller.ts
Due: prettier, oxlint, eslint

chore: fix formatting (#1938) [ci skip]
  src/controllers/packages.controller.ts
Due: prettier, oxlint, eslint

chore(release): 1.14.12 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  f229d153d2cdfd9a8e3ef17a734275fae2d10bd2
Due: none

chore(release): 1.14.13 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  5dc6d5d3c52317c1d2e20c98cf0e06b1f637c13a
Due: none

chore(deps): bump yarn to version 4.17.1
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore(release): 1.14.14 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9463a6525fa0c46fecfabef58ba09a15062b2c62
Due: none

chore(release): 1.14.15 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  df09956332befa7388b47128c9746c1896863b48
Due: none

chore(release): 1.14.16 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d7f26e72115c1bae08e30cf98ee4872a2b750dfe
Due: none

Path conditions:
  prettier: any of: *.{js,ts,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
