Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

refactor: Switch to ESM
  AGENTS.md
  package.json
  src/RepositoryParser.ts
  src/Server.ts
  src/app.module.ts
  src/config.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  src/filters/all-exceptions.filter.ts
  src/index.ts
  src/swagger.ts
  test/RepositoryParser.test.ts
  test/Server.e2e.test.ts
  test/all-exceptions.filter.test.ts
  test/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

set rootDir to "src"
  package.json
  tsconfig.json
Due: prettier

do not create declaration files
  tsconfig.json
Due: prettier

fix: De-duplicate version loading
  src/controllers/info.controller.ts
Due: prettier, oxlint, eslint

refactor: Switch to ESM (#1860)
  AGENTS.md
  package.json
  src/RepositoryParser.ts
  src/Server.ts
  src/app.module.ts
  src/config.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  src/filters/all-exceptions.filter.ts
  src/index.ts
  src/swagger.ts
  test/RepositoryParser.test.ts
  test/Server.e2e.test.ts
  test/all-exceptions.filter.test.ts
  test/utils.test.ts
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

add logging
  Dockerfile
Due: none

chore: Copy single files with Docker (#1859)
  .dockerignore
  Dockerfile
Due: none

fix: De-duplicate version loading (#1861)
  src/controllers/info.controller.ts
Due: prettier, oxlint, eslint

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  be49b8365767319172dadda9b8ffdfd4840e22df
Due: none

ci: Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier

fix(_info): embed build commit hash via Docker build arg, drop version
  .github/workflows/lint_test_publish.yml
  Dockerfile
  src/controllers/info.controller.ts
  src/swagger.ts
Due: prettier, oxlint, eslint

fix(_info): use COMMIT/VERSION build args from docker-image-release action
  .github/workflows/lint_test_publish.yml
  Dockerfile
  src/controllers/info.controller.ts
  src/swagger.ts
Due: prettier, oxlint, eslint

fix(_info): let action inject VERSION/COMMIT, drop commit file scripts
  .github/workflows/lint_test_publish.yml
  package.json
  src/controllers/info.controller.ts
Due: prettier, oxlint, eslint

Update info.controller.ts
  src/controllers/info.controller.ts
Due: prettier, oxlint, eslint

refactor(config): remove find-up, read VERSION from env
  package.json
  src/config.ts
  yarn.lock
Due: prettier, oxlint, eslint

Update config.ts
  src/config.ts
Due: prettier, oxlint, eslint

refactor(info): import COMMIT and VERSION from config
  src/config.ts
  src/controllers/info.controller.ts
Due: prettier, oxlint, eslint

fix: show real build commit and version (#1862)
  .github/workflows/lint_test_publish.yml
  Dockerfile
  package.json
  src/config.ts
  src/controllers/info.controller.ts
  yarn.lock
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  fb9620f21c41cc4776d29eed295ea31f08a35378
Due: none

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
Due: prettier

fix: trigger deploy from publish workflow instead of release event
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

remove deploy.yml workflow
  .github/workflows/deploy.yml
Due: prettier

feat: add workflow_dispatch trigger and update deploy job condition
  .github/workflows/lint_test_publish.yml
Due: prettier

Update lint_test_publish.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

docs: add comment explaining why deploy is not in its own file
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: fix deploy not triggering after new release (#1863)
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

chore(deps): bump yarn to version 4.16.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

fix: allow deploy job to run on manual workflow_dispatch trigger
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: allow deploy job to run on manual workflow_dispatch trigger (#1867)
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: Move needs
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: Update git_mirror workflow [ci skip]
  .github/workflows/git_mirror.yml
Due: prettier

docs: improve README with internal explanation, docker usage, and more examples
  README.md
Due: prettier

fix: security hardening - non-root container, protocol whitelist, trust proxy
  Dockerfile
  src/RepositoryParser.ts
  src/Server.ts
  test/RepositoryParser.test.ts
Due: prettier, oxlint, eslint

Update Dockerfile
  Dockerfile
Due: none

fix: security hardening - non-root container, protocol whitelist, trust proxy (#1870)
  Dockerfile
  src/RepositoryParser.ts
  src/Server.ts
  test/RepositoryParser.test.ts
Due: prettier, oxlint, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
