Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  f92485d0cd5e307d5873b0a244b53d6242b85a11
Due: none

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Pin Docker image digests and add Dependabot docker updates
  .github/dependabot.yml
  Dockerfile
Due: prettier

chore: Pin Docker image digests and add Dependabot docker updates (#1774)
  .github/dependabot.yml
  Dockerfile
Due: prettier

chore: remove invalid Dependabot docker versioning strategy
  .github/dependabot.yml
Due: prettier

chore: ignore Node 25 Docker updates in Dependabot
  .github/dependabot.yml
Due: prettier

chore: ignore Node 25 Docker updates in Dependabot (#1776)
  .github/dependabot.yml
Due: prettier

chore: remove invalid Dependabot docker versioning strategy (#1775)
  .github/dependabot.yml
Due: prettier

chore(deps): bump yarn to version 4.14.1
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Run yarn update check only on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore: update yarn config
  .yarnrc.yml
Due: prettier

refactor: add job-level permissions to workflows
  .github/workflows/build_test_publish.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: add workflow permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

fix permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: add job-level permissions to workflows (#1792)
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Add Dependabot cooldown [ci skip]
  .github/dependabot.yml
Due: prettier

feat: generate Swagger document on the fly, remove static swagger.json (#1807)
  package.json
  src/Server.ts
  src/controllers/health.controller.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  src/swagger.ts
  swagger.json
Due: prettier, oxlint, eslint

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  e304a6e664bf454f86d3d459e5145d9aac0df81d
Due: none

feat: Security improvements (#1808)
  .github/workflows/build_test_publish.yml
  Dockerfile
  package.json
  spec/RepositoryParser.test.ts
  src/RepositoryParser.ts
  src/Server.ts
  src/config.ts
  src/controllers/packages.controller.ts
  src/filters/all-exceptions.filter.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  f54890496c7131efad779736e56c13f88e57ffb6
Due: none

fix: Use latest curl
  Dockerfile
Due: none

Notes added by 'git notes add'
  5e57a50b58f0912f95f0b6c855109b807b5860f5
Due: none

chore(release): 1.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

chore: Check weekly for dependency updates
  .github/dependabot.yml
Due: prettier

chore: Add release cooldown for yarn update
  .github/workflows/yarn_update.yml
Due: prettier

chore: Use Node.js 26
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  Dockerfile
  package.json
Due: prettier

chore: Use Node.js 26
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  Dockerfile
  package.json
  yarn.lock
Due: prettier

chore: Fix comment in Dockerfile
  Dockerfile
Due: none

chore: Group NestJS updates
  .github/dependabot.yml
Due: prettier

chore: Add .dockerignore file
  .dockerignore
Due: none

chore: Ignore Node.js > 26
  .github/dependabot.yml
Due: prettier

ci: Publish Docker image to GitHub Container Registry
  .github/workflows/build_test_publish.yml
Due: prettier

fix: Exclude some endpoints from Swagger UI
  src/controllers/main.controller.ts
Due: prettier, oxlint, eslint

chore: Disable npm update message in Docker
  Dockerfile
Due: none

chore(release): 1.13.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  e24078c3fe33ef6aff021c8cf3cd720f6d18fc0d
Due: none

ci: Delete old packages
  .github/workflows/delete_old_packages.yml
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
