Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): 1.14.17 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  bdd3c1d0ca3d823ff6eebc79e0cf86f469878947
Due: none

chore(release): 1.14.18 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  610735156700306cc723129d8eb1de2f33b72c3b
Due: none

chore(deps): bump yarn to version 4.18.0
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): 1.14.19 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9e695892df9b6724b377005eae6f31945a6e5d01
Due: none

chore(release): 1.14.20 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  3569495b0e1504686e54f7b77aaed206233b5acd
Due: none

chore(release): 1.14.21 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d38143cb576e5470b8c3c24f9320324ded7b69bb
Due: none

fix(deps): Bump brace-expansion to 5.0.9
  yarn.lock
Due: none

chore(release): 1.14.22 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  8a75f891166f50b83bf8a206095902a8885e887b
Due: none

chore(release): 1.14.23 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  6fe9c784579516a5b802c255350a58d36e3b47ae
Due: none

add vite
  package.json
  yarn.lock
Due: prettier

chore(release): 1.14.24 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9e22e895039caeecff7614ebfeed8a048db06495
Due: none

chore: Remove ESLint
  .oxlintrc.json
  AGENTS.md
  eslint.config.ts
  lefthook.yml
  package.json
  src/Server.ts
  src/config.ts
  test/Server.e2e.test.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore: Remove ESLint (#2015)
  .oxlintrc.json
  AGENTS.md
  eslint.config.ts
  lefthook.yml
  package.json
  src/Server.ts
  src/config.ts
  test/Server.e2e.test.ts
  yarn.lock
Due: prettier, oxlint, eslint

refactor: Remove http-status-codes
  package.json
  src/Server.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  test/Server.e2e.test.ts
  yarn.lock
Due: prettier, oxlint, eslint

refactor: Remove http-status-codes (#2016)
  package.json
  src/Server.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  test/Server.e2e.test.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore: Replace prettier with oxfmt
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Replace prettier with oxfmt (#2017)
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

fix: Bump the nestjs group to 12.0.3
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore(release): 1.14.25 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  497b5a60feb70ba3f9dafb64f3500878d2c80bff
Due: none

chore: Add timezone to workflow cron settings [ci skip]
  .github/workflows/delete_old_packages.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore(release): 1.14.26 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  ebe23632aaafe1295f5874d6bcd0a3eecbddd7b5
Due: none

chore(release): 1.14.27 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  f2fee85b6b2d19f9524deaae574fca638b8b6c84
Due: none

chore(deps): bump yarn to version 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): 1.14.28 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  718f162752b0378c05319f06b5e3febf89a963da
Due: none

chore(release): 1.14.29 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  08bd77702055bff160a6989247e65129fa54fbf8
Due: none

Path conditions:
  prettier: any of: *.{js,ts,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
