Repository ffflorian/pkgsource: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore: Add ESLint
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  eslint.config.ts
  lefthook.yml
  package.json
  src/RepositoryParser.ts
  src/Server.ts
  src/config.ts
  src/routes/error/errorRoutes.ts
  src/routes/index.ts
  src/routes/infoRoute.ts
  src/routes/mainRoute.ts
  src/routes/packagesRoute.ts
  src/routes/swaggerRoute.ts
  src/utils.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(deps): Update glob
  yarn.lock
Due: none

chore: Disable sourceMap, fix ESLint config
  eslint.config.ts
  tsconfig.json
Due: prettier, oxlint, eslint

chore(deps): Pin dependency versions
  package.json
  yarn.lock
Due: prettier

chore(deps): Update Node.js to 24
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier

fix: Remove vercel API
  api/vercel.ts
  src/Server.ts
  tsconfig.json
Due: prettier, oxlint, eslint

fix: Remove vercel API
  api/vercel.ts
  src/Server.ts
  tsconfig.json
  vercel.json
Due: prettier, oxlint, eslint

fix: Re-add rootDir and outDir in tsconfig
  tsconfig.json
Due: prettier

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  ea4e9d7b3508b7e7dcc4188113d9423153522a77
Due: none

chore: Use git mirror for GitLab and Codeberg
  .github/workflows/codeberg_mirror.yml
  .github/workflows/git_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Add yarn update action
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): Update tar to 7.5.9
  yarn.lock
Due: none

chore: Create pull request only if yarn version is outdated
  .github/workflows/yarn_update.yml
Due: prettier

chore: Push only main branch to git mirror
  .github/workflows/git_mirror.yml
Due: prettier

chore: Don't run yarn check on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: Don't lint .yarnrc.yml
  .prettierignore
Due: none

chore(deps): Bump typescript to 6.0.2
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Bump typescript to 6.0.2 (#1748)
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Bump @ffflorian/eslint-config to 0.13.5
  package.json
  yarn.lock
Due: prettier

chore: Add minimum release age for dependabot [ci skip]
  .github/dependabot.yml
Due: prettier

chore: Disable scripts in yarn config
  .gitignore
  .yarnrc.yml
Due: prettier

docs: Add CLAUDE.md
  CLAUDE.md
Due: prettier

chore: Replace workflows with @ffflorian/actions
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Do not install latest version with npx [ci skip]
  bin/start.sh
Due: none

chore: Use npx --no [ci skip]
  bin/start.sh
Due: none

chore: Use npx --no [ci skip]
  lefthook.yml
Due: prettier

chore: Fix Dockerfile
  Dockerfile
Due: none

docs: Add Copilot instructions
  .github/copilot-instructions.md
Due: prettier

Delete bin/start.sh
  bin/start.sh
Due: none

feat: Replace Express with NestJS, remove pm2 (#1771)
  AGENTS.md
  README.md
  api/vercel.ts
  bin/start.sh
  ecosystem.config.js
  package.json
  src/RepositoryParser.ts
  src/Server.ts
  src/app.module.ts
  src/controllers/health.controller.ts
  src/controllers/info.controller.ts
  src/controllers/main.controller.ts
  src/controllers/packages.controller.ts
  src/filters/all-exceptions.filter.ts
  src/index.ts
  src/routes/error/errorRoutes.ts
  src/routes/healthCheckRoute.ts
  src/routes/index.ts
  src/routes/mainRoute.ts
  src/routes/packagesRoute.ts
  src/routes/swaggerRoute.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  cda2bd559b9b27c402fd577f96ab4b765cb36627
Due: none

feat: Add logging to exception filter (#1773)
  src/filters/all-exceptions.filter.ts
Due: prettier, oxlint, eslint

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  42b84dcf033efbd83937d22bcc3eb2d63db65403
Due: none

chore: Link CLAUDE.md to AGENTS.md
  .prettierignore
  CLAUDE.md
  lefthook.yml
Due: prettier

chore: Fix lefthook config [ci skip]
  lefthook.yml
Due: prettier

feat: Remove vercel config and use SOURCE_COMMIT from Coolify
  AGENTS.md
  api/vercel.ts
  src/controllers/info.controller.ts
  vercel.json
Due: prettier, oxlint, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts}
  eslint: any of: *.{js,ts}
